
.demo {
  h3 {
    font-size:20px;
    span {
      font-size:40px;
      color:#a8b7c7;
    }
  }
  .iconfont {
    font-size:50px;
    color:#a8b7c7;
  }
  button {
    margin:50px;
    padding:10px 30px;
    border:1px solid #ccc;
  }
  .list {display:flex}
  .fl {height:30px;overflow: hidden;white-space: nowrap;width:535px;margin:0 auto;}
}
